header{background-color:  	white ; }
h1{color: white;}
main{background-color: grey;}
nav{background-color: #eaeded ;}
footer{
  background-color:#eaeded;
   text-align: center;
   position:relative;
   bottom:0;
}
